#cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  border: 1px solid rgba(0, 20, 20, 0.4);
  border-radius: 8px;
  margin: 0px 24px;
  padding: 12px;
  width: 160px;
  text-align: center;
  box-shadow: 3px 3px 4px 1px rgba(25, 25, 55, 0.1);
  transition: all 0.3s;
}
.card-container:hover {
  border-color: red;
  transform: scale(1.05);
}

.card {
  width: 80px;
  /*border: 1px solid red;*/
}

.card:hover {
	color: brown;
}